<section class="about">
	<div class="mbox">
		<div class="about-inner">
			<h3>Об услугах дизайна и миссии студии.</h3>
			<p>Мы команда архитекторов, которая обожает свою работу и делимся своей любовью к дизайну и архитектуре с клиентами через проекты. Каждый дизайн уникален, каждый проект дизайна интерьера или архитектуры разрабатывается под своего клиента и по его поставленным задачам. Дизайн наших интерьеров получает награды и попадает на обложки журналов. Мы создаем не просто практичные интерьеры, но и обладающие художественной ценностью. Такие пространства остаются в цене сквозь время и дарят потомкам.</p>
			<br>
			<h3>Дизайн вне границ и политики.</h3>
			<p>Вы можете заказать дизайн интерьера в Киеве, Одессе или для других городов Украины или стран. Мы работаем независимо от границ, а благодаря универсальности строительных материалов, проект в любой точке земного шара будет реализован согласно идеи.</p>
			<br>
			<p>Работаем с любыми площадями и видами задач. Будь это небольшая квартира или комната со смелыми идеями или частный дом на тысячу квадратных метров, мы одинаково профессионально и ответственно подходим к любому заказу. Дизайн вне площади и бюджета. Главное — это ваше желание создать качественный интерьер.</p> 
			<br>
			<h3>Коммерческие и рабочие  пространства.</h3>
			Создаем не только жилое, но и рабочее пространство. Современный офис это уже не просто огромный зал, где люди сидят в серых коробках. Примеры зарубежных больших компаний показали, насколько работник становится  продуктивнее, когда в офисе его компании правильная планировка, грамотны расставлены рабочие места, поставлен свет.</p> 
			<br>
			<h3>Сопровождение объектов</h3>
			<p>Услуги дизайна это долго и трудоемко. Средний проект длится 2 месяца, а реализация 6. Поэтому очень важно, чтоб между нами и клиентом было одинаковое видение продукта и понимание процессов. Начиная с планировки, мы встречаемся, заполняем бриф и опрашиваем все ваши пожелания и задачи. Правильно поставленная задача и четко обозначенный бюджет это главные принципы успешной работы над дизайном интерьера.</p>  
			<br>
			<p>Наши клиенты это люди, у которых часто нет свободного времени, поэтому комплексное ведение проекта позволяет вам не отвлекаться на ремонт, а заниматься своими любыми делами или работой. 
			Мы можем предоставить своих строителей, которые проверены уже на десятке строек. Полностью комплектуем ваш интерьер, выписывая все артикулы и материалы. Еще до начала работ будут видны все сметы и необходимые вложения.  Просчет смет до начала строительства позволяет правильно распределить бюджет во времени и не останавливать стройку или ремонт. Просчитываем не только главные позиции, но и декор с мелочами — 
			заканчиваем свою работу, когда уже повесим номерок на входную дверь вашего будущего дома.</p>
			<br>
			<p>Ваш дом должен вас вдохновлять, создавать уют и место отдыха. Любой дизайн интерьера это большая работа с несколькими сотнями позиций для покупок и бездонное количество вопросов и встреч. Как правило стоимость дизайна интерьера меньше пяти процентов от бюджета, но именно эти несколько процентов позволят сделать видимым и осознанным использование всей суммы. Ведь каждый из нас видел, когда сотни тысяч долларов потрачены впустую.  Заказывая дизайн интерьера у нас, вы получаете продукт и его реализацию в рамках бюджета-сроков и по вашим пожеланиям.
			<br>
			<p>Наша студия дизайна интерьера готова к любым новым и смелым задачам.</p>
			<br>
			<h3>Архитектура</h3>
			<p>На просторах Украины все больше появляется современной архитектуры, люди перестают строить дворцы и хотят жить в, прежде всего, удобном и стильном пространстве. Дизайн интерьера и архитектура становится благодаря этому еще более утонченней, изысканней, когда ей не нужно кричать о себе, а лишь стильно  служить целям на фоне жизни хозяина. 
			Услуга дизайна интерьера на рынке популярней, чем создание и проект частного дома, но благодаря этому, если вы закажите частный современный дом сегодня, то через десяток лет ваш дом может попасть в новую историю архитектуры Украины.</p>
		</div>
		<div class="button-wrap">
			<a href="#" class="button show-text">Читать дальше</a>
		</div>
	</div>
</section>