<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
  <div class="mbox">
    <div class="title">
      <h2>Стоимость услуг</h2>
    </div>
    <div class="sub-title">
      <p>Дизайн нельзя измерить квадратными метрами, часами или килограммами. У нас нет фиксированной цены и каждый проект рассчитывается индивидуально.</p>
    </div>
    <div class="text">
    	<p>Деньги и время, сэкономленные с нами, окупают стоимость наших услуг.</p>
    </div>
    <form action="ajax-programer.php" method="post" name="footer-form" class="footer-form">
      <div class="form-inner">
        <div class="form-field">
          <input type="text" name="name" placeholder="Имя" required />
        </div>
        <div class="form-field">
          <input type="text" name="tel" class="tel-mask" placeholder="Телефон" required />
        </div>
        <div class="form-field">
          <input type="email" name="email" placeholder="E-mail" required />
        </div>
      </div>
      <button type="submit" class="button">Получить расчет</button>
    </form>
    <ul class="social">
      <li>
        <a href="#">
          <img src="images/facebook-icon.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="images/instagram-icon.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="images/behance-icon.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="images/viber-icon.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="images/telegram-icon.png" alt="">
        </a>
      </li>
    </ul>
    <ul class="contacts">
      <li>
        <a href="tel:0800211356">Киев  0 800 211 356</a>
      </li>
      <li>
        <a href="tel:380935268636">Одесса  +38 093 526 86 36 </a>
      </li>
      <li>
        <a href="mailto:mail@sivak-trigubchak.com">mail@sivak-trigubchak.com</a>
      </li>
    </ul>
  </div>
</footer>
<!-- /FOOTER -->
