<section class="gallery">
  <ul class="gallery-list mbox2">
    <li>
      <a href="#">
        <img src="images/gallery01.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Башня синергии</h6>
          </div>
          <div class="sub-title">
            <p>Конкурсное предложение реконструкции бывшего дымохода</p>
          </div>
          <div class="address">
            <p>Киев, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery02.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Альтаир</h6>
          </div>
          <div class="sub-title">
            <p>Квартира для молодоженов</p>
          </div>
          <div class="address">
            <p>Альтаир, Одесса</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery03.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Дом на берегу озера</h6>
          </div>
          <div class="sub-title">
            <p>Проект дома-мастерской</p>
          </div>
          <div class="address">
            <p>Закарпатье, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery04.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Дом в Закарпатье</h6>
          </div>
          <div class="sub-title">
            <p>Проект летней резиденции двух семей</p>
          </div>
          <div class="address">
            <p>Закарпатье, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery05.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Черный интерьер</h6>
          </div>
          <div class="sub-title">
            <p>Эта квартира не для мужчины холостяка, а дом для молодой женщины и ее дочери.</p>
          </div>
          <div class="address">
            <p>Киев, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery06.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Квартира для летнего отдыха</h6>
          </div>
          <div class="sub-title">
            <p>Дизайн квартиры для летнего отдыха</p>
          </div>
          <div class="address">
            <p>Одесса, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery07.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Квартира с библиотекой</h6>
          </div>
          <div class="sub-title">
            <p>Дизайн квартиры с большой библиотекой</p>
          </div>
          <div class="address">
            <p>Киев, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery08.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Черный интерьер</h6>
          </div>
          <div class="sub-title">
            <p>Эта квартира не для мужчины холостяка, а дом для молодой женщины и ее дочери.</p>
          </div>
          <div class="address">
            <p>Киев, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
        <li>
      <a href="#">
        <img src="images/gallery01.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Башня синергии</h6>
          </div>
          <div class="sub-title">
            <p>Конкурсное предложение реконструкции бывшего дымохода</p>
          </div>
          <div class="address">
            <p>Киев, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery02.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Альтаир</h6>
          </div>
          <div class="sub-title">
            <p>Квартира для молодоженов</p>
          </div>
          <div class="address">
            <p>Альтаир, Одесса</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery03.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Дом на берегу озера</h6>
          </div>
          <div class="sub-title">
            <p>Проект дома-мастерской</p>
          </div>
          <div class="address">
            <p>Закарпатье, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery04.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Дом в Закарпатье</h6>
          </div>
          <div class="sub-title">
            <p>Проект летней резиденции двух семей</p>
          </div>
          <div class="address">
            <p>Закарпатье, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery05.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Черный интерьер</h6>
          </div>
          <div class="sub-title">
            <p>Эта квартира не для мужчины холостяка, а дом для молодой женщины и ее дочери.</p>
          </div>
          <div class="address">
            <p>Киев, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery06.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Квартира для летнего отдыха</h6>
          </div>
          <div class="sub-title">
            <p>Дизайн квартиры для летнего отдыха</p>
          </div>
          <div class="address">
            <p>Одесса, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="images/gallery07.jpg" alt="">
        <div class="info">
          <div class="title">
            <h6>Квартира с библиотекой</h6>
          </div>
          <div class="sub-title">
            <p>Дизайн квартиры с большой библиотекой</p>
          </div>
          <div class="address">
            <p>Киев, Украина</p>
          </div>
          <div class="date">
            <p>2017</p>
          </div>
        </div>
      </a>
    </li>
    <li class="show-more-wrap">
      <a href="#" class="show-more" data-action="load_more_items2" data-page="2" data-per-page="15">
        <div class="icon">
          <img src="images/ajax-icon.png" alt="">
        </div>
        <div class="text">
          <p>Показать еще</p>
        </div>
      </a>
    </li>
  </ul>
  <ul class="hashtags">
    <li>
      <a href="#">#Архитектура</a>
    </li>
    <li>
      <a href="#">#Дизайн интерьеров</a>
    </li>
    <li>
      <a href="#">#Коммерческие объекты</a>
    </li>
  </ul>
</section>