<section class="headline">
	<div class="mbox">
		<div class="title"><h1>Создаем интерьеры, <br> в которых наслаждаются жизнью.</h1></div>
		<div class="main-desc">
			<div class="desc">
				<h4>Интерьеры</h4>
				<p>Создаем пространства, в которые с радостью возвращаются вечером и называют домом.</p>
			</div>
			<div class="desc">
				<h4>Архитектура</h4>
				<p>Мы спроектируем и построим ваш дом, выражающий ваше представление о комфортной жизни.</p>
			</div>
			<div class="desc">
				<h4>Бизнес-проекты</h4>
				<p>Поможем выбрать правильное помещение для вашего ресторана или офиса ещё до покупки. Ведем проект от идеи и до первого покупателя.</p>
			</div>
		</div>
	</div>
</section>